@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
:root {
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --bg-primary: rgb(35, 35, 46);
  --bg-secondary: #141418;
  --transition-speed: 600ms;
}
html {
  scroll-behavior: smooth;
}
body {
  color: black;
  background: #ddd;
  padding: 0;
  margin: 0;
}
body::-webkit-scrollbar {
  width: 0.25rem;
}
body::-webkit-scrollbar-track {
  background: #1e1e24;
}
body::-webkit-scrollbar-thumb {
  background: #000000;
}

.logo{
  height: 25px;
}
.navbar {
  position: sticky;
  top: 0;
    background-color: #454545;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: #b6b6b6 1px solid;
    
}
.navbar a{
  text-decoration: none;
  color: #ffffff;
}
.navbar a:hover{
  color: #ddd;
}
.navbar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
}

.nav-link {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 3rem;
  text-decoration: none;
  min-width: 3rem;
  margin: 0 1.5rem;
}
.nav-menu{
  display: none;
}
.nav-menu-line{
  width: 20px;
  height: 3px;
  background-color: #1e1e24;
  margin-bottom: 4px;
}

.hero-banner {
  width: 100%;
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(pics/pexels-hazel.jpg);
  background-size: cover;
}
.hero-content-area {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero-content {
  text-align: center;
}
.hero-link{
  text-decoration: none;
  color: #ffffff;
}
.hero-content a:hover {
  text-align: center;
  color: #ddd;
}
.hero-content h1 {
  font-size: 80px;
  color: #fff;
}
.hero-content p {
  font-size: 30px;
  color: #dddddd;
}

.aboutme{
  display: flex;
  background: #fff;
  padding: 1em;
  min-height: 100vh;
}
.aboutme h2{
  font-size: 2.4em;
  padding-bottom: 0.4em;
  width: auto;
  border-bottom: #141418 2px solid;
}
.aboutme-text{
 display: flex;
 flex-direction: column;
 font-size: 1em;
 width: 50%;
 margin-left: 3em;
 margin-right: 3em;
 justify-content: center;
}
.picture-box{
  width: 30%;
  height: 30%;
  padding: 1em;
  margin: auto;
}
.picture-box img{
  width: 100%;
  height: 100%;
  border-radius: 10%;
}

.main-section{
  display: flex;
  justify-content: center;
  background: #e8e8e8;
  padding: 1em;
  min-height: 100vh;
}
.main-text{
 display: flex;
 flex-direction: column;
 font-size: 1em;
 padding-right: 15px;
 padding-left: 15px;
 margin-right: 5em;
 margin-left: 5em;
 justify-content: center;
}
.main-section h2{
  font-size: 2.4em;
  padding-bottom: 0.4em;
  width: auto;
  border-bottom: #141418 2px solid;
}
.projects-gallery{
   display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 5vw);
    grid-gap: 1em;
    column-gap: 1em;
}
.gallery__item{
  margin: 0;
}
.gallery_img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
.gallery__item--1 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 4;
}
.gallery__item--2 {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 4;
}
.gallery__item--3 {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 7;
  grid-row-end: 4;
}
.gallery__item--4 {
  grid-column-start: 5;
  grid-column-end: 7;
  grid-row-start: 1;
  grid-row-end: 7;
}
.gallery__item--5 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 7;
  grid-row-end: 4;
}

.skill-section{
  display: flex;
  justify-content: center;
  padding: 1em;
  min-height: 100vh;
  background: #444;
}
.skill-container{
  display: flex;
  flex-direction: column;
  font-size: 1em;
  padding-right: 15px;
  padding-left: 15px;
  justify-content: center;
}
.skill-section h2 {
  display: flex;
  font-size: 2.4em;
  padding-bottom: 0.4em;
  width: auto;
  border-bottom: #fff 2px solid;
  color: #fff;
}
.skill-section h4 {
  font-size: 1.4em;
  color: #fff;
  height: 100%;
  width: 41%;
  margin-right: 35%;
  text-align: center;
}
.skill-container .skill-box{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-left: 9em;
  margin-right: 2em;
  
}
.skill-box p{
  color: #fff;
  margin: 0;
  padding: 0;
  max-width: 70%;
}
.icons{
  display: flex;
  justify-content: space-between;
  margin-bottom: 3em;
  margin-right: 3em;
}
.icon{
  width: 4em;
  height: 6em;
}
.webspan{
  display: flex;
}
.jsIcon{
  width: 5.5em;
  padding-left: 7px;
}
.dbIcon{
  width: 5em;
  padding-left: 22px;
}
.codeIcon{
  width: 5.5em;
  padding-left: 6px;
}
.item{
  margin: 1em;
}


.form-container{
  padding: 1em;
  min-height: 100vh;
}

.contact {
  margin-top: 8%;
}
.contact h2 {
  text-align: left;
  font-size: 2.4em;
  padding-bottom: 0.4em;
  width: auto;
  border-bottom: #141418 2px solid;
}
.form-group label {
  display: block;
  font-size: 20px;
  color: #1e1e24;
}
.form-group input,
.form-group textarea {
  width: 100%;
  box-sizing: border-box;
  border: none;
  outline: none;
  font-family: inherit;

}
.btn {
  margin-top: 2%;
  padding: 7px 30px;
  font-family: inherit;
  border: 1px solid;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.1s;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
}

.btn:hover {
  box-shadow: 0 0.5em 0.5em -0.4em;
  transform: translateY(-0.3em);
  cursor: pointer;
}

.footer {
  font-weight: bold;
  display: flex;
  justify-content: center;
}
.btn_back_top{
  display: none;
  position: fixed;
  bottom: 2rem;
  right: 1rem;
  cursor: pointer;
}


@media all and (max-width:1000px){
  .logo{
    display: block;
    position: absolute;
    left: 10px;
    top: 10px;
  }
  .navbar-nav{
    flex-direction: column;
    width: 100%;
    display: none;
  }
  .nav-item{
    display: flex;
    justify-content: center;
  }
  .nav-menu{
    display: block;
    position: absolute;
    right: 10px;
    top: 13px;
    color: #35373a;
  }
  .active{
    display: block;
  }
  .hero-content h1{
    font-size: 42px;
  }
  .hero-content p {
    font-size: 20px;
    color: #ddd;
  }
  .skill-container{
    display: flex;
    flex-direction: column;
  }
  .aboutme{
    display: flex;
    flex-direction: column;

  }
  .picture-box{
    display: flex;
    align-self: center;
    width: 70%;
  }
 
  .skill-container .skill-box{
    display: flex;
    flex-direction: column;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
  .projects-gallery{
    display: flex;
    flex-direction: column;
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  
  }
  .col{
    margin: 1em;

  }
}
